@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  vertical-align: bottom; }

li {
  list-style: none;
  transition: all 0.5s; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  transition: all 0.5s;
  color: black; }

a:hover {
  opacity: 0.7; }

a:hover p:hover {
  opacity: 0.7; }

a:hover img:hover {
  opacity: 0.7; }

.basic {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1280px) {
    .basic {
      max-width: 920px;
      margin-left: 5%;
      margin-right: 5%; } }
  @media screen and (max-width: 1000px) {
    .basic {
      max-width: 850px;
      margin-left: 5%;
      margin-right: 5%; } }
  @media screen and (max-width: 767px) {
    .basic {
      max-width: 700px;
      margin-left: 5%;
      margin-right: 5%; } }

.flex {
  display: flex; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-evenly {
  justify-content: space-evenly; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.flex-col-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-nowrap {
  flex-wrap: nowrap; }

.md {
  margin: 2rem; }

.mr-md {
  margin-right: 2rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 8rem; }

.hidden {
  display: none; }

.pageTitle {
  background: url(../image/bgPage-about.png) no-repeat center center;
  height: 30vh;
  background-size: cover; }
  .pageTitle h2 {
    color: #fff;
    font-size: 5rem; }

.arrow {
  padding: 1rem 0; }
  .arrow span {
    padding: 0 2rem;
    display: inline-block; }

.plus {
  margin-top: 4rem; }
  .plus-text {
    font-size: 1.8rem;
    padding: 4rem 0; }

.gameAbout {
  height: 900px !important; }

.philosophy {
  background: url(../image/bgPage-2.png) no-repeat center center;
  height: 40vh;
  background-size: cover; }
  .philosophy h4 {
    font-size: 3rem;
    margin: 2rem 0; }
  .philosophy p {
    font-size: 2rem; }

.btn {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn:hover {
    color: #d37891; }
    .btn:hover .btn-arrow {
      background-color: #d37891; }
      .btn:hover .btn-arrow::before {
        border-left-color: #fff; }

.btn-1 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-1:hover {
    color: #6384c2; }
    .btn-1:hover .btn-arrow-1 {
      background-color: #6384c2; }
      .btn-1:hover .btn-arrow-1::before {
        border-left-color: #fff; }

.btn-2 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-2:hover {
    color: #6384c2; }
    .btn-2:hover .btn-arrow-2 {
      background-color: white; }
      .btn-2:hover .btn-arrow-2::before {
        border-left-color: #d8746a; }

.btn-3 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-3:hover {
    color: #d37891; }
    .btn-3:hover .btn-arrow-3 {
      background-color: white; }
      .btn-3:hover .btn-arrow-3::before {
        border-left-color: #ec93c5; }

.btn-arrow {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%; }
  .btn-arrow::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: #d37891;
    top: 5px;
    left: 8px; }

.btn-arrow-1 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%; }
  .btn-arrow-1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: #6384c2;
    top: 5px;
    left: 8px; }

.btn-arrow-2 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #d37891;
  border-radius: 50%; }
  .btn-arrow-2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px; }

.btn-arrow-3 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #ec93c5;
  border-radius: 50%; }
  .btn-arrow-3::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px; }

.bg-pink {
  background: #d37891;
  border: 3px solid #d37891; }
  .bg-pink:hover {
    background-color: white;
    opacity: 1; }

.bg-blue {
  background: #6384c2;
  border: 3px solid #6384c2; }
  .bg-blue:hover {
    background-color: white;
    opacity: 1; }

.bg-white {
  background: white;
  border: 3px solid white;
  color: #d8746a; }
  .bg-white:hover {
    background-color: #d8746a;
    color: white;
    opacity: 1; }

.bg-white-2 {
  background: white;
  border: 3px solid white;
  color: #ec93c5; }
  .bg-white-2:hover {
    background-color: #ec93c5;
    color: white;
    opacity: 1; }

.bg-red {
  background: #d8746a;
  border: 3px solid white; }
  .bg-red:hover {
    background: white;
    color: #d8746a;
    border: 3px solid #d8746a;
    opacity: 1; }

.bg-red-2 {
  background: #d8746a;
  border: 3px solid #d8746a; }
  .bg-red-2:hover {
    background: white;
    color: #d8746a;
    border: 3px solid #d8746a;
    opacity: 1; }

.headerTop {
  justify-content: space-between;
  padding: 2rem;
  background: #fff; }

@media screen and (max-width: 767px) {
  .headerBtn {
    display: none; } }

.logo img {
  width: 70%; }

.logo span {
  margin-left: 2.5rem; }
  @media screen and (max-width: 1280px) {
    .logo span {
      display: none; } }

.headerMiddle {
  background: #fff000; }

.nav {
  max-width: 980px;
  margin: 0 auto; }
  .nav li {
    padding: 2.5rem 1.5rem;
    min-width: 150px;
    text-align: center; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .nav li {
        padding: 2rem 0.5rem;
        min-width: 100px; } }
    @media screen and (max-width: 767px) {
      .nav li {
        display: none; } }
    .nav li:hover {
      background: #ffd700; }
    .nav li a {
      letter-spacing: 0;
      font-weight: 700; }

.banner img {
  height: auto;
  width: 100%; }

.msg {
  background: #d8746a;
  padding: 35px 0;
  color: #fff; }
  @media screen and (max-width: 767px) {
    .msg {
      padding: 35px 2rem; } }
  .msg p {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.8; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .msg p {
        font-size: 1.8rem; } }
    @media screen and (max-width: 767px) {
      .msg p {
        font-size: 16px; } }
  .msg-group {
    flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      .msg-group .msg-btn {
        width: 100%;
        margin-top: 1rem; }
      .msg-group a {
        margin-left: auto;
        margin-right: auto; } }

.game {
  background: url(../image/ami.png) no-repeat center center;
  background-size: cover;
  height: 660px;
  position: relative;
  z-index: 1; }
  .game__content {
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .game__content img {
        width: 40%; } }
  .game__sub {
    line-height: 3;
    font-size: 1.8rem;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .game__sub {
        font-size: 1.6rem; } }
    .game__sub span {
      background: linear-gradient(transparent 60%, #fff000 60%);
      font-weight: bold;
      font-size: 2.4rem; }
      @media screen and (max-width: 767px) {
        .game__sub span {
          font-size: 1.8rem; } }

.line-1,
.line-2,
.circle-1,
.circle-2 {
  position: absolute; }

.line-1 {
  top: 0;
  left: -20rem; }

.line-2 {
  right: -20rem;
  bottom: 0; }

.circle-1 {
  bottom: 0;
  left: 0; }

.circle-2 {
  top: 0;
  right: 0; }

.stress {
  background: url(../image/bg-blue.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .stress .title {
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .stress .title {
        width: 70%; } }

@media screen and (max-width: 767px) {
  .cloud {
    flex-wrap: wrap;
    margin-bottom: 3rem;
    text-align: center; }
    .cloud img {
      width: 70%; } }

@media screen and (max-width: 500px) {
  .cloud img {
    width: 60%; } }

.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
  padding: 1rem 2rem; }
  @media screen and (max-width: 767px) {
    .cloud-1,
    .cloud-2,
    .cloud-3,
    .cloud-4 {
      padding: 0rem;
      margin-left: auto;
      margin-right: auto;
      width: 50%; } }

.cloud-small span:first-child {
  position: absolute;
  left: 10rem;
  opacity: 0.5;
  animation: cloudMove-1 5s linear infinite alternate; }

.cloud-small span:nth-child(2) {
  position: absolute;
  top: 25rem;
  left: 40rem;
  opacity: 0.5;
  animation: cloudMove-2 5s linear infinite alternate; }

.cloud-small span:nth-child(3) {
  position: absolute;
  top: 35rem;
  right: 50rem;
  opacity: 0.5;
  animation: cloudMove-3 5s linear infinite alternate; }

.cloud-small span:last-child {
  position: absolute;
  top: 20rem;
  right: 20rem;
  opacity: 0.5;
  animation: cloudMove-1 5s ease-in-out infinite alternate; }

@media screen and (max-width: 767px) {
  .cloud-small {
    display: none; } }

.other {
  position: relative;
  margin-bottom: 4rem; }
  .other__title {
    position: absolute;
    top: -30px;
    width: 40rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #4290c6;
    text-align: center;
    padding: 1rem 2.5rem;
    box-shadow: 10px 10px 0 #5eb0eb;
    z-index: 10; }
    @media screen and (max-width: 767px) {
      .other__title {
        font-size: 1.8rem;
        width: 30rem; } }
  .other__table {
    background-color: #fff;
    border: 2px solid #4290c6;
    padding: 8rem 6rem;
    z-index: 1; }
  .other__list li {
    flex: 50%;
    font-size: 2rem;
    text-indent: -2.5rem; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .other__list li {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .other__list li {
        font-size: 1.4rem; } }
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    .other__list li:nth-child(odd) {
      padding-right: 10%; } }
  @media screen and (max-width: 767px) {
    .other__list li:nth-child(odd) {
      padding-right: 10%; } }
  .other__list li::before {
    content: '●';
    color: #4290c6;
    margin-right: 0.5rem; }

.service {
  background: url(../image//bg-green.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding-bottom: 10rem; }
  .service__title {
    margin-top: 10rem; }
    @media screen and (max-width: 767px) {
      .service__title img {
        width: 80%; } }
  .service-group {
    flex-direction: column; }
    .service-group img {
      width: 70%;
      margin-bottom: 2rem; }
  .service__sub {
    color: #fff;
    margin-left: 10rem; }
    @media screen and (max-width: 767px) {
      .service__sub {
        margin-left: 4rem; } }
    .service__sub p {
      line-height: 2;
      font-size: 1.6rem; }
      @media screen and (min-width: 767px) and (max-width: 1280px) {
        .service__sub p {
          font-size: 1.4rem;
          line-height: 1.6; } }
      @media screen and (max-width: 767px) {
        .service__sub p {
          font-size: 1.4rem; } }

.ami-circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1 !important; }

.circle {
  position: absolute;
  top: -20rem;
  left: 0; }

.flag {
  background: #fff;
  font-size: 2.3rem;
  max-width: 900px;
  padding: 3rem 1rem 3rem 15rem;
  z-index: 10 !important; }
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    .flag {
      max-width: 650px;
      font-size: 2rem;
      padding: 3rem 0rem 3rem 10rem; } }
  @media screen and (max-width: 767px) {
    .flag {
      max-width: 500px;
      font-size: 1.6rem;
      padding: 2rem 0rem 2rem 8rem; } }
  @media screen and (max-width: 500px) {
    .flag {
      max-width: 340px;
      font-size: 1.2rem;
      padding: 1.5rem; } }
  .flag span {
    color: #599ee5;
    font-size: 3.4rem; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .flag span {
        font-size: 2.5rem; } }
    @media screen and (max-width: 767px) {
      .flag span {
        font-size: 2rem; } }
    @media screen and (max-width: 500px) {
      .flag span {
        font-size: 1.4rem; } }

.course {
  z-index: 100 !important; }
  @media screen and (max-width: 767px) {
    .course__groups {
      flex-direction: column; } }
  .course__title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-style: italic;
    position: relative;
    border-bottom: 1px solid #c0e538; }
    @media screen and (max-width: 767px) {
      .course__title {
        font-size: 2.4rem; } }
  .course h4::before {
    content: '';
    width: 50px;
    height: 7px;
    background: #c0e538;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(-40deg); }
  .course__content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    z-index: 100 !important; }
  .course__left {
    flex: 30%; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .course__left {
        flex: 50%; } }
    .course__left h4 {
      font-size: 1.8rem;
      font-weight: bold;
      color: #4290c6;
      margin-left: 2rem; }
  .course__right {
    flex: 70%; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .course__right {
        flex: 50%;
        flex-wrap: wrap;
        justify-content: flex-start; } }
    .course__right li {
      padding: 2px 0;
      font-size: 1.6rem; }
      @media screen and (max-width: 767px) {
        .course__right li {
          font-size: 1.4rem; } }
    .course__right .c01::before {
      content: '●';
      color: #7cbbe7; }
    .course__right .c02::before {
      content: '●';
      color: #a7cc90; }
    .course__right .c03::before {
      content: '●';
      color: #dd92c0; }
    .course__right .c04::before {
      content: '●';
      color: #e7c07c; }
  @media screen and (max-width: 767px) {
    .course__list ul {
      flex-direction: column; } }
  .course__list ul li {
    width: 48%;
    padding: 2rem; }
    @media screen and (max-width: 767px) {
      .course__list ul li {
        width: 100%; } }
    .course__list ul li p {
      font-size: 1.6rem; }
      @media screen and (max-width: 767px) {
        .course__list ul li p {
          font-size: 1.4rem; } }
  @media screen and (max-width: 1280px) {
    .course__book {
      flex-wrap: wrap; }
      .course__book a {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 767px) {
    .course__book {
      flex-direction: column;
      align-items: flex-start; } }
  @media screen and (max-width: 1280px) {
    .course__headphone {
      flex-wrap: wrap; }
      .course__headphone a {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 767px) {
    .course__headphone {
      flex-direction: column;
      align-items: flex-start; } }

.game-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4290c6;
  margin-left: 2rem; }

.game-txt {
  font-size: 16px; }

.game-box {
  min-width: 390px; }
  @media screen and (max-width: 767px) {
    .game-box {
      min-width: 0; } }

.contact {
  background: #6384c2;
  color: #fff;
  height: 200px; }
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    .contact {
      height: 300px; } }
  @media screen and (max-width: 767px) {
    .contact {
      height: 300px; } }
  .contact .telephoneGroup {
    flex-wrap: wrap;
    justify-content: center; }
  .contact .telephone {
    margin-right: 4rem; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .contact .telephone {
        margin-bottom: 2rem; } }
    @media screen and (max-width: 767px) {
      .contact .telephone {
        margin-bottom: 2rem; } }
    .contact .telephone h4 {
      margin-left: 5rem;
      font-size: 2rem; }
    .contact .telephone p {
      font-size: 60px;
      font-weight: bold;
      line-height: 1; }
      @media screen and (max-width: 1280px) {
        .contact .telephone p {
          font-size: 40px; } }
    .contact .telephone p::before {
      content: url(../image/phone.png);
      margin-right: 1rem; }
  .contact-right {
    background: #fff;
    border-radius: 10px;
    padding: 20px; }
    @media screen and (max-width: 1280px) {
      .contact-right {
        max-width: 550px; } }
    @media screen and (max-width: 767px) {
      .contact-right {
        max-width: 450px; } }
    @media screen and (max-width: 500px) {
      .contact-right {
        flex-direction: column;
        text-align: center;
        max-width: 350px; } }
    .contact-right .qr {
      width: 20%;
      margin-right: 2rem; }
      @media screen and (max-width: 500px) {
        .contact-right .qr {
          display: none; } }
    .contact-right span {
      color: #000;
      font-size: 1.8rem;
      font-weight: bold; }
      @media screen and (max-width: 1280px) {
        .contact-right span {
          font-size: 1.5rem;
          width: 400px; } }
      @media screen and (max-width: 500px) {
        .contact-right span {
          padding-bottom: 2rem; } }

.line {
  margin-left: 5rem; }

.about {
  background: url(../image/bg-about.png) center center;
  height: 70vh;
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .about {
      height: 100vh; } }
  .about-img {
    flex: 50%; }
    @media screen and (max-width: 1280px) {
      .about-img {
        margin-right: 5%; } }
    @media screen and (max-width: 767px) {
      .about-img {
        margin-bottom: 3rem; } }
    .about-img img {
      box-shadow: 15px 15px 0 #e4adbc;
      border-radius: 15px; }
  .about-right h4 {
    font-size: 3rem;
    color: #d37891; }
    @media screen and (max-width: 1280px) {
      .about-right h4 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem; } }
  .about-right p {
    font-size: 1.6rem; }
    @media screen and (max-width: 1280px) {
      .about-right p {
        font-size: 1.4rem; } }

@media screen and (max-width: 767px) {
  .aboutS {
    flex-direction: column; } }

.nikki {
  background: url(../image/bg-nikki.png) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 80vh; }
  .nikki .nikki-title {
    text-align: center; }
  .nikki-list li {
    width: 30%;
    margin: 0 0 3.33% 3.33%; }

.bnr {
  height: 38vh;
  background: url(../image/bg-tree.png) no-repeat center center;
  background-position: center; }
  @media screen and (max-width: 767px) {
    .bnr {
      height: 50vh; } }
  @media screen and (max-width: 767px) {
    .bnr-group {
      flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .bnr {
      flex-direction: column; } }
  .bnr img {
    margin: 0 2rem; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .bnr img {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .bnr img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        padding-bottom: 3rem; } }

.info {
  padding: 5rem 0; }
  @media screen and (max-width: 767px) {
    .info-group {
      flex-direction: column-reverse;
      align-items: flex-start; } }
  .info-f {
    flex: 50%; }
    @media screen and (max-width: 767px) {
      .info-f {
        padding-top: 3rem; }
        .info-f p {
          font-size: 1.2rem; } }
  .info-r {
    flex: 50%; }
  .info-list {
    padding-right: 4rem;
    font-size: 1.6rem; }
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      .info-list {
        font-size: 1.4rem; } }
    @media screen and (max-width: 767px) {
      .info-list {
        font-size: 1.2rem; } }

.copy {
  text-align: center; }
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    .copy {
      font-size: 1.2rem; } }

@keyframes cloudMove-1 {
  0% {
    top: 20rem; }
  100% {
    top: 28rem; } }

@keyframes cloudMove-2 {
  0% {
    top: 27rem; }
  100% {
    top: 20rem; } }

@keyframes cloudMove-3 {
  0% {
    top: 25rem; }
  100% {
    top: 32rem; } }

.hambuger {
  display: none;
  width: 36px;
  height: 36px;
  z-index: 1000; }
  @media screen and (max-width: 767px) {
    .hambuger {
      display: inline-block; } }
  .hambuger span {
    display: block;
    margin: 6px auto;
    background-color: #d37891;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: all 0.5s ease; }
  .hambuger:hover span:first-child {
    transform: translateY(-5px); }
    @media screen and (max-width: 500px) {
      .hambuger:hover span:first-child {
        transform: none; } }
  .hambuger:hover span:last-child {
    transform: translateY(5px); }
    @media screen and (max-width: 500px) {
      .hambuger:hover span:last-child {
        transform: none; } }
  .hambuger__list {
    background-color: #fff000;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s linear; }
    .hambuger__list li {
      margin: 1.5rem;
      font-size: 1.8rem; }
      .hambuger__list li a {
        color: black;
        height: 100%;
        font-weight: bold; }
      .hambuger__list li p {
        font-size: 2rem; }
        .hambuger__list li p span {
          padding-left: 1rem;
          font-size: 4rem; }
  .hambuger__btn {
    display: flex;
    flex-direction: column; }
    .hambuger__btn li a {
      color: white; }
    .hambuger__btn-item {
      height: 50px;
      width: 250px;
      border-radius: 30px; }

.hambuger.openBar span:first-child {
  transform: translateY(10px) rotate(45deg); }

.hambuger.openBar span:nth-child(2) {
  transform: scaleX(0); }

.hambuger.openBar span:last-child {
  transform: translateY(-12px) rotate(-45deg); }

.hambuger.openBar span {
  background-color: black; }

.hiddenNav {
  transform: translateX(100%);
  transition: all 0.5s linear; }

.btnFixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  z-index: 1000;
  text-align: center;
  transition: right 0.5s linear; }
  @media screen and (max-width: 767px) {
    .btnFixed {
      right: 0;
      transform: translateY(0);
      display: flex;
      top: auto;
      bottom: -100%;
      width: 100%; } }
  .btnFixed .btn {
    width: 60px;
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    margin-bottom: 2rem; }
    @media screen and (max-width: 767px) {
      .btnFixed .btn {
        width: 100%;
        height: 80px;
        border-radius: 0; } }
    .btnFixed .btn span {
      writing-mode: vertical-rl; }
      @media screen and (max-width: 767px) {
        .btnFixed .btn span {
          writing-mode: horizontal-tb; } }
    .btnFixed .btn .btn-arrow {
      top: 15rem; }
      @media screen and (max-width: 767px) {
        .btnFixed .btn .btn-arrow {
          top: 2.7rem; } }
  .btnFixed .btn-1 {
    width: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px; }
    @media screen and (max-width: 767px) {
      .btnFixed .btn-1 {
        width: 100%;
        height: 80px;
        border-radius: 0; } }
    .btnFixed .btn-1 span {
      writing-mode: vertical-lr; }
      @media screen and (max-width: 767px) {
        .btnFixed .btn-1 span {
          writing-mode: horizontal-tb; } }
    .btnFixed .btn-1 .btn-arrow-1 {
      top: 15rem; }

.btnShow {
  right: 0; }
  @media screen and (max-width: 767px) {
    .btnShow {
      bottom: -22px; } }
