@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  image-rendering: pixelated; }

li {
  list-style: none;
  transition: all 0.5s; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  transition: all 0.5s;
  color: black; }

a:hover {
  opacity: 0.7; }

a:hover p:hover {
  opacity: 0.7; }

a:hover img:hover {
  opacity: 0.7; }

.basic {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.flex {
  display: flex; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-evenly {
  justify-content: space-evenly; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.flex-col-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-nowrap {
  flex-wrap: nowrap; }

.md {
  margin: 2rem; }

.mr-md {
  margin-right: 2rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 8rem; }

.hidden {
  display: none; }

.btn {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn:hover {
    color: #d37891; }
    .btn:hover .btn-arrow {
      background-color: #d37891; }
      .btn:hover .btn-arrow::before {
        border-left-color: #fff; }

.btn-1 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-1:hover {
    color: #6384c2; }
    .btn-1:hover .btn-arrow-1 {
      background-color: #6384c2; }
      .btn-1:hover .btn-arrow-1::before {
        border-left-color: #fff; }

.btn-2 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-2:hover {
    color: #6384c2; }
    .btn-2:hover .btn-arrow-2 {
      background-color: white; }
      .btn-2:hover .btn-arrow-2::before {
        border-left-color: #d8746a; }

.btn-3 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem; }
  .btn-3:hover {
    color: #d37891; }
    .btn-3:hover .btn-arrow-3 {
      background-color: white; }
      .btn-3:hover .btn-arrow-3::before {
        border-left-color: #ec93c5; }

.btn-arrow {
  position: absolute;
  right: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%; }
  .btn-arrow::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: #d37891;
    top: 5px;
    left: 8px; }

.btn-arrow-1 {
  position: absolute;
  right: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%; }
  .btn-arrow-1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: #6384c2;
    top: 5px;
    left: 8px; }

.btn-arrow-2 {
  position: absolute;
  right: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #d37891;
  border-radius: 50%; }
  .btn-arrow-2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px; }

.btn-arrow-3 {
  position: absolute;
  right: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #ec93c5;
  border-radius: 50%; }
  .btn-arrow-3::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px; }

.bg-pink {
  background: #d37891;
  border: 3px solid #d37891; }
  .bg-pink:hover {
    background-color: white; }

.bg-blue {
  background: #6384c2;
  border: 3px solid #6384c2; }
  .bg-blue:hover {
    background-color: white; }

.bg-white {
  background: white;
  border: 3px solid white;
  color: #d8746a; }
  .bg-white:hover {
    background-color: #d8746a;
    color: white;
    opacity: 1; }

.bg-white-2 {
  background: white;
  border: 3px solid white;
  color: #ec93c5; }
  .bg-white-2:hover {
    background-color: #ec93c5;
    color: white;
    opacity: 1; }

.bg-red {
  background: #d8746a;
  border: 3px solid white; }
  .bg-red:hover {
    background: white;
    color: #d8746a;
    border: 3px solid #d8746a;
    opacity: 1; }

.bg-red-2 {
  background: #d8746a;
  border: 3px solid #d8746a; }
  .bg-red-2:hover {
    background: white;
    color: #d8746a;
    border: 3px solid #d8746a;
    opacity: 1; }

.headerTop {
  justify-content: space-between;
  padding: 2rem;
  background: #fff; }

.logo span {
  margin-left: 2.5rem; }

.headerMiddle {
  background: #fff000; }

.nav {
  max-width: 980px;
  margin: 0 auto; }
  .nav li {
    padding: 2.5rem 1.5rem;
    min-width: 150px;
    text-align: center; }
    .nav li:hover {
      background: #ffd700; }
    .nav li a {
      letter-spacing: 0;
      font-weight: 700; }

.banner img {
  height: auto;
  width: 100%; }

.msg {
  background: #d8746a;
  padding: 35px 0;
  color: #fff; }
  .msg p {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.8; }

.game {
  background: url(../image/ami.png) no-repeat center center;
  background-size: cover;
  height: 660px;
  position: relative;
  z-index: 1; }
  .game__content {
    z-index: 1; }
  .game__sub {
    line-height: 3;
    font-size: 1.8rem;
    text-align: center; }
    .game__sub span {
      background: linear-gradient(transparent 60%, #fff000 60%);
      font-weight: bold;
      font-size: 2.4rem; }

.line-1,
.line-2,
.circle-1,
.circle-2 {
  position: absolute; }

.line-1 {
  top: 0;
  left: -20rem; }

.line-2 {
  right: -20rem;
  bottom: 0; }

.circle-1 {
  bottom: 0;
  left: 0; }

.circle-2 {
  top: 0;
  right: 0; }

.stress {
  background: url(../image/bg-blue.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative; }
  .stress .title {
    z-index: 1; }

.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
  padding: 1rem 2rem; }

.cloud-small span:first-child {
  position: absolute;
  left: 10rem;
  opacity: 0.5;
  animation: cloudMove-1 2s linear infinite alternate; }

.cloud-small span:nth-child(2) {
  position: absolute;
  top: 25rem;
  left: 40rem;
  opacity: 0.5;
  animation: cloudMove-2 2s linear infinite alternate; }

.cloud-small span:nth-child(3) {
  position: absolute;
  top: 35rem;
  right: 50rem;
  opacity: 0.5;
  animation: cloudMove-3 2s linear infinite alternate; }

.cloud-small span:last-child {
  position: absolute;
  top: 20rem;
  right: 20rem;
  opacity: 0.5;
  animation: cloudMove-1 3s ease-in-out infinite alternate; }

.other {
  position: relative; }
  .other__title {
    position: absolute;
    top: -30px;
    width: 40rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #4290c6;
    text-align: center;
    padding: 1rem 2.5rem;
    box-shadow: 10px 10px 0 #5eb0eb;
    z-index: 10; }
  .other__table {
    background-color: #fff;
    border: 2px solid #4290c6;
    padding: 8rem 6rem;
    z-index: 1; }
  .other__list li {
    width: 50%;
    font-size: 2rem;
    text-indent: -2.5rem; }
  .other__list li::before {
    content: '●';
    color: #4290c6;
    margin-right: 0.5rem; }

.service {
  background: url(../image//bg-green.png) no-repeat center center;
  background-size: cover;
  height: 260vh;
  position: relative; }
  .service__title {
    margin-top: 10rem; }
  .service__sub {
    color: #fff;
    margin-left: 10rem; }
    .service__sub p {
      line-height: 2;
      font-size: 1.6rem; }

.ami-circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1 !important; }

.circle {
  position: absolute;
  top: -20rem;
  left: 0; }

.flag {
  background: #fff;
  font-size: 2.3rem;
  max-width: 900px;
  padding: 3rem 1rem 3rem 15rem;
  z-index: 10 !important; }
  .flag span {
    color: #599ee5;
    font-size: 3.4rem; }

.course {
  z-index: 100 !important; }
  .course__title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-style: italic;
    position: relative;
    border-bottom: 1px solid #c0e538; }
  .course h4::before {
    content: '';
    width: 50px;
    height: 7px;
    background: #c0e538;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(-40deg); }
  .course__content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    z-index: 100 !important; }
  .course__left {
    flex: 30%; }
    .course__left h4 {
      font-size: 1.8rem;
      font-weight: bold;
      color: #4290c6;
      margin-left: 2rem; }
  .course__right {
    flex: 70%; }
    .course__right li {
      padding: 2px 0;
      font-size: 1.6rem; }
    .course__right .c01::before {
      content: '●';
      color: #7cbbe7; }
    .course__right .c02::before {
      content: '●';
      color: #a7cc90; }
    .course__right .c03::before {
      content: '●';
      color: #dd92c0; }
    .course__right .c04::before {
      content: '●';
      color: #e7c07c; }
  .course__list li {
    width: 48%;
    padding: 2rem; }
    .course__list li p {
      width: 98%; }

.game-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4290c6;
  margin-left: 2rem; }

.game-txt {
  font-size: 16px; }

.game-box {
  min-width: 390px; }

.contact {
  background: #6384c2;
  color: #fff;
  height: 200px; }
  .contact .telephone {
    margin-right: 4rem; }
    .contact .telephone h4 {
      margin-left: 5rem;
      font-size: 2rem; }
    .contact .telephone p {
      font-size: 60px;
      font-weight: bold;
      line-height: 1; }
    .contact .telephone p::before {
      content: url(../image/phone.png);
      margin-right: 1rem; }
  .contact-right {
    background: #fff;
    border-radius: 10px;
    padding: 20px; }
    .contact-right .qr {
      width: 50%; }
    .contact-right span {
      color: #000;
      font-size: 1.8rem;
      font-weight: bold; }

.line {
  margin-left: 5rem; }

.about {
  background: url(../image/bg-about.png) center center;
  height: 70vh;
  background-position: center;
  background-size: cover; }
  .about-img {
    flex: 50%; }
    .about-img img {
      box-shadow: 15px 15px 0 #e4adbc;
      border-radius: 15px; }
  .about-right h4 {
    font-size: 3rem;
    color: #d37891; }
  .about-right p {
    font-size: 1.6rem; }

.nikki {
  background: url(../image/bg-nikki.png) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 80vh; }
  .nikki .nikki-title {
    text-align: center; }
  .nikki-list li {
    width: 30%;
    margin: 0 0 3.33% 3.33%; }

.bnr {
  height: 45vh;
  background: url(../image/bg-tree.png) no-repeat center center;
  background-position: center;
  background-size: cover; }
  .bnr img {
    margin: 0 2rem; }

.info {
  padding: 5rem 0; }
  .info-f {
    flex: 50%; }
  .info-r {
    flex: 50%; }
  .info-list {
    padding-right: 4rem;
    font-size: 1.6rem; }

.copy {
  text-align: center; }

@keyframes cloudMove-1 {
  0% {
    top: 20rem; }
  100% {
    top: 25rem; } }

@keyframes cloudMove-2 {
  0% {
    top: 27rem; }
  100% {
    top: 23rem; } }

@keyframes cloudMove-3 {
  0% {
    top: 25rem; }
  100% {
    top: 30rem; } }
