.pageTitle {
  background: url(../image/bgPage-about.png) no-repeat center center;
  height: 30vh;
  background-size: cover;
  h2 {
    color: #fff;
    font-size: 5rem;
  }
}
.arrow {
  padding: 1rem 0;
  span {
    padding: 0 2rem;
    display: inline-block;
  }
}
.plus {
  margin-top: 4rem;

  &-text {
    font-size: 1.8rem;
    padding: 4rem 0;
  }
}
.gameAbout {
  height: 900px !important;
}

//PHILOSOPHY

.philosophy {
  background: url(../image/bgPage-2.png) no-repeat center center;
  height: 36vh;
  background-size: cover;
  h4 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  p {
    font-size: 2rem;
  }
}

.about-box {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #4290c6;
  font-size: 1.6rem;

  &-img {
    // flex: 40%;
    width: 40%;
    margin-right: 3rem;
    border-radius: 10px;
  }

  &-tit {
    font-size: 2.4rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;
  }
  &-text {
    flex: 50%;
    font-size: 1.6rem;
    li {
      text-indent: -1rem;
      line-height: 2;
    }
    li::before {
      content: '・';
      margin-right: 2px;
    }
  }

  &-bottom {
    margin: 2rem 0;
    background: #f2f2e0;
    border-radius: 10px;
    padding-left: 1rem;
    padding-bottom: 2rem;
    ul {
      margin-top: 2rem;
      li {
        padding-left: 2rem;
      }
    }
  }
  &-inner {
    padding: 1rem 2rem;
    background: #9cbcd2;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
  }
}

.about-message {
  background: url(/image/about-bg.png) no-repeat center center;
  height: 60rem;
  background-size: cover;
  section {
    padding: 100px 0;
  }
  &-title {
    font-size: 3rem;
    color: #d37891;
    position: relative;
    &::after {
      content: '';
      height: 2px;
      width: 50%;
      background: #d37891;
      position: absolute;
      top: 50%;
      left: 20%;
    }
  }
  &-text {
    width: 65%;
    font-size: 1.6rem;
    line-height: 2.2;
  }
}

.about-day {
  background: url(/image/about-bg-day.png) no-repeat center center;
  background-size: cover;
  height: 180rem;

  &-section {
    padding: 10rem 0;
  }
}

.aboutTime {
  &-title {
    font-size: 3rem;
    font-style: italic;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &-box {
    position: relative;
    width: 30%;
    margin: 0 0 3.33% 3.33%;
    background: #fff;
    border-radius: 1rem;
    padding: 8rem 3rem;

    h5 {
      font-size: 2.4rem;
      padding-bottom: 1rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem;
    }
    i {
      position: absolute;
      padding: 0.5rem 3rem;
      color: #fff;
      top: 0;
      left: 0;
      font-size: 1.6rem;
      font-weight: 700;
      border-top-left-radius: 1rem;
    }
  }
}
.border-pink {
  border-bottom: 2px solid #de6dac;
}
.border-green {
  border-bottom: 2px solid #22ac38;
}

.about-pink {
  background: #de6dac;
  &::after {
    content: '';
    position: absolute;
    border-bottom: 36px solid transparent;
    border-left: 30px solid #de6dac;
    top: 0;
    right: -30px;
  }
}
.about-green {
  background: #22ac38;
  &::after {
    content: '';
    position: absolute;
    border-bottom: 36px solid transparent;
    border-left: 30px solid #22ac38;
    top: 0;
    right: -30px;
  }
}
.abt-img {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
}
