.pageTitle {
  background: url(../image/bgPage-about.png) no-repeat center center;
  height: 30vh;
  background-size: cover;
  h2 {
    color: #fff;
    font-size: 5rem;
  }
}
.arrow {
  padding: 1rem 0;
  span {
    padding: 0 2rem;
    display: inline-block;
  }
}
.plus {
  margin-top: 4rem;

  &-text {
    font-size: 1.8rem;
    padding: 4rem 0;
  }
}
.gameAbout {
  height: 900px !important;
}

//PHILOSOPHY

.philosophy {
  background: url(../image/bgPage-2.png) no-repeat center center;
  height: 36vh;
  background-size: cover;
  h4 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  p {
    font-size: 2rem;
  }
}

.about-box {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #4290c6;
  font-size: 1.6rem;

  &-img {
    // flex: 40%;
    width: 40%;
    margin-right: 3rem;
    border-radius: 10px;
  }

  &-tit {
    font-size: 2.4rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;
  }
  &-text {
    flex: 50%;
    font-size: 1.6rem;
    li {
      text-indent: -1rem;
      line-height: 2;
    }
    li::before {
      content: 'ãƒ»';
      margin-right: 2px;
    }
  }

  &-bottom {
    margin: 2rem 0;
    background: #f2f2e0;
    border-radius: 10px;
    padding-left: 1rem;
    padding-bottom: 2rem;
    ul {
      margin-top: 2rem;
      li {
        padding-left: 2rem;
      }
    }
  }
  &-inner {
    padding: 1rem 2rem;
    background: #9cbcd2;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
  }
}

.about-message {
  background: url(/image/about-bg.png) no-repeat center center;
  height: 60rem;
  background-size: cover;
  section {
    padding: 100px 0;
  }
  &-title {
    font-size: 3rem;
    color: #d37891;
    position: relative;
    &::after {
      content: '';
      height: 2px;
      width: 50%;
      background: #d37891;
      position: absolute;
      top: 50%;
      left: 20%;
    }
  }
  &-text {
    width: 65%;
    font-size: 1.6rem;
    line-height: 2.2;
  }
}
