@import 'base';
@import 'variables';
@import 'about';

//BTN
.btn {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    color: $pink;
    .btn-arrow {
      background-color: $pink;

      &::before {
        border-left-color: #fff;
      }
    }
  }
}

.btn-1 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;

  &:hover {
    color: $blue;
    .btn-arrow-1 {
      background-color: $blue;

      &::before {
        border-left-color: #fff;
      }
    }
  }
}

.btn-2 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    color: $blue;
    .btn-arrow-2 {
      background-color: white;

      &::before {
        border-left-color: $red;
      }
    }
  }
}
.btn-3 {
  display: block;
  position: relative;
  width: 280px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.2rem 2rem;

  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    color: $pink;
    .btn-arrow-3 {
      background-color: white;

      &::before {
        border-left-color: #ec93c5;
      }
    }
  }
}

.btn-arrow {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: $pink;
    top: 5px;
    left: 8px;
  }
}

.btn-arrow-1 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: $blue;
    top: 5px;
    left: 8px;
  }
}
.btn-arrow-2 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;

  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: $pink;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px;
  }
}
.btn-arrow-3 {
  position: absolute;
  right: 2rem;
  top: 1.5rem;

  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #ec93c5;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px;
    border-color: transparent;
    border-left-color: white;
    top: 5px;
    left: 8px;
  }
}

//////////////////////////////
//COLOR
.bg-pink {
  background: $pink;
  border: 3px solid $pink;
  &:hover {
    background-color: white;
    opacity: 1;
  }
}
.bg-blue {
  background: $blue;
  border: 3px solid $blue;
  &:hover {
    background-color: white;
    opacity: 1;
  }
}
.bg-white {
  background: white;
  border: 3px solid white;
  color: $red;
  &:hover {
    background-color: $red;
    color: white;
    opacity: 1;
  }
}
.bg-white-2 {
  background: white;
  border: 3px solid white;
  color: #ec93c5;
  &:hover {
    background-color: #ec93c5;
    color: white;
    opacity: 1;
  }
}
.bg-red {
  background: $red;
  border: 3px solid white;

  &:hover {
    background: white;
    color: $red;
    border: 3px solid $red;
    opacity: 1;
  }
}
.bg-red-2 {
  background: $red;
  border: 3px solid $red;

  &:hover {
    background: white;
    color: $red;
    border: 3px solid $red;

    opacity: 1;
  }
}

.headerTop {
  justify-content: space-between;
  padding: 2rem;
  background: #fff;
}
.headerBtn {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
//LOGO
.logo {
  img {
    width: 70%;
  }
  span {
    margin-left: 2.5rem;
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}

// NAVBAR

.headerMiddle {
  background: $yellow;
}
.nav {
  max-width: 980px;
  margin: 0 auto;

  li {
    padding: 2.5rem 1.5rem;
    min-width: 150px;
    text-align: center;
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      padding: 2rem 0.5rem;
      min-width: 100px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }

    &:hover {
      background: #ffd700;
    }
    a {
      letter-spacing: 0;
      font-weight: 700;
    }
  }
}

// /////////////////
// BANNER
.banner {
  @media screen and (max-width: 767px) {
    display: none;
  }
  img {
    height: auto;
    width: 100%;
  }
}
.banner2 {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

// MESSEAGE
.msg {
  background: $red;
  padding: 35px 0;
  color: #fff;
  z-index: 100;

  @media screen and (max-width: 767px) {
    padding: 35px 2rem;
  }

  p {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.8;
    @media screen and (min-width: 767px) and (max-width: 1279px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  &-group {
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      .msg-btn {
        width: 100%;
        margin-top: 1rem;
      }
      a {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

//////////////////////
//ゲームについて
.game {
  background: url(../image/ami.png) no-repeat center center;
  background-size: cover;
  height: auto;
  position: relative;
  padding: 7rem 0;

  @media screen and (max-width: 767px) {
    padding: 4rem 0;
  }

  &__content {
    z-index: 1;
    @media screen and (max-width: 767px) {
      img {
        width: 70%;
      }
    }
  }

  &__sub {
    line-height: 3;
    font-size: 1.8rem;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
      line-height: 1.8;
      padding: 3rem 0;
    }
    @media screen and (max-width: 375px) {
      font-size: 1.4rem;
    }

    span {
      background: linear-gradient(transparent 60%, $yellow 60%);
      font-weight: bold;
      font-size: 2.4rem;
      @media screen and (max-width: 767px) {
        font-size: 1.8rem;
      }
    }
  }
}

//////////
/// LINE & CIRCLE
.line-1,
.line-2,
.circle-1,
.circle-2 {
  position: absolute;
}
.line-1 {
  top: 0;
  left: -20rem;

  @media screen and (max-width: 767px) {
    z-index: 1;
  }
  img {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}
.line-2 {
  right: -20rem;
  bottom: 0;

  @media screen and (max-width: 767px) {
    right: -50rem;
  }

  img {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}
.circle-1 {
  bottom: 0;
  left: 0;

  @media screen and (max-width: 767px) {
    left: -5rem;
    bottom: 5rem;
  }

  img {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}
.circle-2 {
  top: 0;
  right: 0;

  @media screen and (max-width: 767px) {
    right: -15rem;
    top: 5rem;
  }

  img {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
}

/////////////////
/// STRESS
.stress {
  background: url(../image/bg-blue.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;

  // @media screen and (max-width: 767px) {
  //   height: 100%;
  // }

  .title {
    z-index: 1;
    @media screen and (max-width: 767px) {
      width: 70%;
    }
  }
}
.title-stress {
  z-index: 1;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.title-stress2 {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (max-width: 375px) {
    width: 80%;
  }
}
.cloud {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 3rem;
    text-align: center;
    img {
      width: 70%;
    }
  }
  @media screen and (max-width: 500px) {
    img {
      width: 90%;
    }
  }
}
.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4 {
  padding: 1rem 2rem;

  @media screen and (max-width: 767px) {
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.cloud-small {
  span:first-child {
    position: absolute;
    left: 10rem;
    opacity: 0.5;
    animation: cloudMove-1 5s linear infinite alternate;
  }
  span:nth-child(2) {
    position: absolute;
    top: 25rem;
    left: 40rem;
    opacity: 0.5;
    animation: cloudMove-2 5s linear infinite alternate;
  }
  span:nth-child(3) {
    position: absolute;
    top: 35rem;
    right: 50rem;
    opacity: 0.5;
    animation: cloudMove-3 5s linear infinite alternate;
  }
  span:last-child {
    position: absolute;
    top: 20rem;
    right: 20rem;
    opacity: 0.5;
    animation: cloudMove-1 5s ease-in-out infinite alternate;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
////////////
/// OTHER TABLE
.other {
  position: relative;
  margin-bottom: 4rem;

  @media screen and (max-width: 375px) {
    margin-top: 4rem;
  }

  &__title {
    position: absolute;
    top: -30px;
    width: 40rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #4290c6;
    text-align: center;
    padding: 1rem 2.5rem;
    box-shadow: 10px 10px 0 rgb(94, 176, 235);
    z-index: 10;
    @media screen and (max-width: 767px) {
      font-size: 1.8rem;
      width: 30rem;
    }
  }

  &__table {
    background-color: #fff;
    border: 2px solid #4290c6;
    padding: 6rem 4rem;
    z-index: 1;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  &__list {
    @media screen and (max-width: 375px) {
      flex-direction: column;
      line-height: 2;
    }
    li {
      flex: 50%;
      font-size: 1.8rem;
      text-indent: -2.5rem;
      @media screen and (min-width: 767px) and (max-width: 1280px) {
        font-size: 16px;
      }
      @media screen and (max-width: 767px) {
        font-size: 1.4rem;
      }
    }
    li:nth-child(odd) {
      @media screen and (min-width: 767px) and (max-width: 1280px) {
        padding-right: 10%;
      }
      @media screen and (max-width: 767px) {
        padding-right: 10%;
      }
      @media screen and (max-width: 375px) {
        padding-right: 0;
      }
    }
    li::before {
      content: '●';
      color: #4290c6;
      margin-right: 0.5rem;
    }
  }
}

/////////////
/// SERVICE

.service {
  background: url(../image/bg-green.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  padding-bottom: 10rem;

  &__title {
    margin-top: 10rem;
    @media screen and (max-width: 767px) {
      img {
        width: 80%;
      }
    }
    @media screen and (max-width: 375px) {
      margin-bottom: 2rem;
    }
  }

  &-group {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    @media screen and (max-width: 375px) {
      justify-content: flex-start;
      padding-left: 3%;
      padding-right: 3%;
    }
    img {
      display: inline-block;
      width: 60%;
      margin-bottom: 2rem;
      height: auto;
      @media screen and (max-width: 767px) {
        width: 60%;
      }
      @media screen and (max-width: 375px) {
        width: 60%;
      }
    }
  }
  &__sub {
    color: #fff;
    margin-left: 10rem;

    @media screen and (max-width: 767px) {
      margin-left: 4rem;
    }
    @media screen and (max-width: 375px) {
      margin-left: 0;
    }

    p {
      line-height: 2;
      font-size: 1.6rem;
      @media screen and (min-width: 767px) and (max-width: 1280px) {
        font-size: 1.5rem;
        line-height: 1.6;
      }
      @media screen and (max-width: 767px) {
        font-size: 1.4rem;
      }
    }
  }
}
.ami-circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1 !important;
}
.circle {
  position: absolute;
  top: -20rem;
  left: 0;

  @media screen and (max-width: 767px) {
    top: -5rem;
  }
  img {
    @media screen and (max-width: 767px) {
      width: 30%;
    }
  }
}

////////////FLAG////
.flag {
  position: relative;
  z-index: 1;
  &-title {
    background: #fff;
    font-size: 2.3rem;
    max-width: 900px;
    padding: 3rem 1rem 3rem 15rem;
    z-index: 100 !important;

    @media screen and (min-width: 767px) and (max-width: 1280px) {
      max-width: 650px;
      font-size: 2rem;
      padding: 3rem 0rem 3rem 10rem;
    }
    @media screen and (max-width: 767px) {
      max-width: 500px;
      font-size: 1.6rem;
      padding: 2rem 0rem 2rem 8rem;
    }
    @media screen and (max-width: 500px) {
      max-width: 340px;
      font-size: 1.2rem;
      padding: 1.5rem;
    }
  }

  span {
    color: $blue-light;
    font-size: 3.4rem;

    @media screen and (min-width: 767px) and (max-width: 1280px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }
}
.circle-red {
  position: absolute;
  right: 0;
  top: -5rem;
  z-index: -1;
  img {
    @media screen and (max-width: 767px) {
      width: 50%;
      float: right;
    }
  }
}
//////////コース
.course {
  z-index: 1000 !important;

  &__groups {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-style: italic;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #c0e538;
    @media screen and (max-width: 767px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.8rem;
    }
    .br {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  .course-h4::before {
    content: '';
    width: 50px;
    height: 7px;
    background: #c0e538;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(-40deg);
  }

  &__content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    z-index: 100 !important;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  &__left {
    flex: 30%;
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      flex: 50%;
    }
    h4 {
      font-size: 1.8rem;
      font-weight: bold;
      color: #4290c6;
      margin-left: 2rem;
    }
  }
  &__right {
    flex: 70%;
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      flex: 50%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media screen and (max-width: 375px) {
      flex-direction: column;
    }

    li {
      padding: 2px 0;
      font-size: 1.6rem;
      @media screen and (max-width: 767px) {
        font-size: 1.4rem;
      }
    }
    .c01::before {
      content: '●';
      color: #7cbbe7;
    }
    .c02::before {
      content: '●';
      color: #a7cc90;
    }
    .c03::before {
      content: '●';
      color: #dd92c0;
    }
    .c04::before {
      content: '●';
      color: #e7c07c;
    }
  }

  &__list {
    ul {
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      li {
        width: 48%;
        padding: 2rem;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        p {
          font-size: 1.6rem;
          @media screen and (max-width: 767px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &__book {
    @media screen and (max-width: 1280px) {
      flex-wrap: wrap;
      gap: 4.7rem;
      a {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__headphone {
    @media screen and (max-width: 1280px) {
      flex-wrap: wrap;
      gap: 3.5rem;
      a {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
    }
  }
}

.game-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4290c6;
  margin-left: 2rem;
}
.game-txt {
  font-size: 16px;
}
.game-box {
  min-width: 390px;
  @media screen and (max-width: 767px) {
    min-width: 0;
  }
}

///////TELEPHONE
///
.contact {
  background: #6384c2;
  color: #fff;

  .telephoneGroup {
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5rem 0;

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .telephone {
    margin-right: 4rem;
    @media screen and (min-width: 767px) and (max-width: 1280px) {
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 2rem;
      margin-right: 0;
    }
    @media screen and (max-width: 375px) {
      margin-right: none;
    }

    h4 {
      margin-left: 5rem;
      font-size: 2rem;

      @media screen and (max-width: 375px) {
        font-size: 1.6rem;
        margin-left: 3rem;
      }
    }

    &-icon {
      width: 100%;
      img {
        @media screen and (max-width: 767px) {
          width: 10%;
        }
      }
    }
    p {
      font-size: 60px;
      font-weight: bold;
      line-height: 1;
      @media screen and (max-width: 1280px) {
        font-size: 40px;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
  }
  &-right {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    @media screen and (max-width: 1280px) {
      max-width: 550px;
    }
    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      text-align: center;
      max-width: 350px;
    }
    .qr {
      width: 20%;
      margin-right: 2rem;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    span {
      color: #000;
      font-size: 1.8rem;
      font-weight: bold;
      @media screen and (max-width: 1280px) {
        font-size: 1.5rem;
        width: 400px;
      }
      @media screen and (max-width: 500px) {
        padding-bottom: 2rem;
      }
    }
  }
}
.line {
  margin-left: 5rem;
}

//ABOUT
.about {
  background: url(../image/bg-about.png) center center;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  margin-right: auto;
  margin-left: auto;

  &-img {
    flex: 50%;
    @media screen and (max-width: 1280px) {
      margin-right: 5%;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 3rem;
    }
    @media screen and (max-width: 375px) {
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
    }
    img {
      box-shadow: 15px 15px 0 #e4adbc;
      border-radius: 15px;
      @media screen and (max-width: 375px) {
        width: 80%;
      }
    }
  }

  &-right {
    padding-left: 3%;
    padding-right: 3%;
    h4 {
      padding-bottom: 2rem;
      font-size: 3rem;
      color: $pink;
      @media screen and (max-width: 1280px) {
        font-size: 2.35rem;
        padding-top: 3rem;
      }
      @media screen and (max-width: 375px) {
        justify-self: start;
      }
    }
    p {
      font-size: 1.6rem;
      @media screen and (max-width: 1280px) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: 375px) {
        font-size: 1.3rem;
      }
    }
    @media screen and (max-width: 375px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
.aboutS {
  @media screen and (max-width: 1280px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/////// NIKKI
///
.nikki {
  background: url(../image/bg-nikki.png) no-repeat center center;
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  .nikki-title {
    text-align: center;
    @media screen and (max-width: 375px) {
      img {
        width: 70%;
      }
    }
  }

  &-list {
    gap: 30px;
    @media screen and (max-width: 767px) {
      width: 100%;
      flex-direction: column;
    }

    li {
      width: 30%;
      @media screen and (max-width: 767px) {
        width: 90%;
      }
    }
  }
}

//////BANER
///
.bnr {
  margin: 3rem 0;
  background: url(../image/bg-tree.png) no-repeat center center;
  background-position: center;

  // background-size: cover;

  &-group {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  img {
    margin: 0 2rem;

    @media screen and (min-width: 767px) and (max-width: 1280px) {
      width: 40%;
    }

    @media screen and (max-width: 767px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.info {
  padding: 5rem 3%;

  &-group {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  &-f {
    flex: 50%;
    @media screen and (max-width: 767px) {
      padding-top: 3rem;
      p {
        font-size: 1.2rem;
      }
    }
  }
  &-r {
    flex: 50%;
  }
  &-list {
    padding-right: 4rem;
    font-size: 1.6rem;
    line-height: 2.5;

    @media screen and (min-width: 767px) and (max-width: 1280px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
}
.copy {
  text-align: center;
  @media screen and (min-width: 767px) and (max-width: 1280px) {
    font-size: 1.2rem;
  }
}

////////////
/// ANIMATION

@keyframes cloudMove-1 {
  0% {
    top: 20rem;
  }
  100% {
    top: 28rem;
  }
}
@keyframes cloudMove-2 {
  0% {
    top: 27rem;
  }
  100% {
    top: 20rem;
  }
}
@keyframes cloudMove-3 {
  0% {
    top: 25rem;
  }
  100% {
    top: 32rem;
  }
}

.hambuger {
  display: none;
  width: 36px;
  height: 36px;
  z-index: 1000;

  @media screen and (max-width: 767px) {
    display: inline-block;
  }
  span {
    display: block;
    margin: 6px auto;
    background-color: $pink;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  &:hover {
    span:first-child {
      transform: translateY(-5px);
      @media screen and (max-width: 500px) {
        transform: none;
      }
    }

    span:last-child {
      transform: translateY(5px);
      @media screen and (max-width: 500px) {
        transform: none;
      }
    }
  }

  // &__nav {
  //   background: #fff;
  // }

  &__list {
    background-color: #fff000;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s linear;

    li {
      margin: 1.5rem;
      font-size: 1.8rem;
      a {
        color: black;
        height: 100%;
        font-weight: bold;
      }
      p {
        font-size: 2rem;
        span {
          padding-left: 1rem;
          font-size: 4rem;
        }
      }
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    li {
      a {
        color: white;
      }
    }

    &-item {
      height: 50px;
      width: 250px;
      border-radius: 30px;
    }
  }
}
// Animation Hambuger vs Navbar
.hambuger.openBar {
  span:first-child {
    transform: translateY(10px) rotate(45deg);
  }

  span:nth-child(2) {
    transform: scaleX(0);
  }

  span:last-child {
    transform: translateY(-12px) rotate(-45deg);
  }
  span {
    background-color: black;
  }
}
.hiddenNav {
  transform: translateX(100%);
  transition: all 0.5s linear;
}

// BTN FIXED
.btnFixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  z-index: 1000;
  text-align: center;
  transition: right 0.5s linear;

  @media screen and (max-width: 767px) {
    right: 0;
    transform: translateY(0);
    display: flex;
    top: auto;
    bottom: -100%;
    width: 100%;
  }
  .btn {
    width: 60px;
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    margin-bottom: 2rem;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: 80px;
      border-radius: 0;
    }
    span {
      writing-mode: vertical-rl;
      @media screen and (max-width: 767px) {
        writing-mode: horizontal-tb;
      }
    }
    .btn-arrow {
      top: 15rem;
      @media screen and (max-width: 767px) {
        top: 2.7rem;
      }
    }
  }
  .btn-1 {
    width: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: 80px;
      border-radius: 0;
    }

    span {
      writing-mode: vertical-lr;
      @media screen and (max-width: 767px) {
        writing-mode: horizontal-tb;
      }
    }
    .btn-arrow-1 {
      top: 15rem;
      // @media screen and (max-width: 767px) {
      //   top: 2.7rem;
      // }
    }
  }
}
.btnShow {
  right: 0;

  @media screen and (max-width: 767px) {
    bottom: -22px;
  }
}
